/* remove content of primary shit */

.main-image,
.primary-container {
  display: none;
}

/* adjust hamburger nav */

.menu-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-btn__burger {
  width: 15px;
  height: 3px;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  width: 20px;
  height: 3px;
}

/* increase spacing between social media icons */
.social-media a {
  margin: 60% 0;
  padding: 2%;
  transition: all 500ms ease-in-out;
}
/* remove email and phone number */
.secondary-bottom p {
  display: none;
}

/* reduce nav-logo dimensions */
.nav-logo img,
.nav-logo a {
  width: 60px;
  height: 48px;
}

/* change primary vw to 100% */
.primary {
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-bg-color);
  display: block;
  /* justify-content: center;
  align-items: center; */
  position: relative;
  left: 0;
  top: 0;
  right: 0;
}

.secondary {
  display: none;
}
.tertiary {
  display: none;
}

/* style just primary bro */

.mobile-html-container {
  display: block;
  width: 100%;
}

.mobile-navbar {
  width: 100%;

  display: flex;
  justify-content: space-between;
  background-color: red;
}

.mobile-home-elements {
  margin: 10% auto;
  padding: 5%;
  text-align: center;
}

.typewriter-stuff {
  font-size: 1.5rem;
  margin-bottom: 15%;
}

.link-button {
  padding: 2.5% 1%;
  font-size: 1rem;
  margin: 5% auto;
  width: 50%;
}

.main-image-div-mobile {
  margin-bottom: 10%;
}

.main-image-mobile {
  /* Note : 100px= 7.3206vw for a 1366 x 768 screen*/
  /* absolute height/width in pixels */
  /* height: 450px;
  width: 680px;
  margin-left: -350px; */

  /* relative height/width in vw */
  /* height: 32.94vw;
  width: 49.78vw;
  margin-left: -25.62vw; */
  /* 
  height: 32.94vw;
  width: 45vw; */
  /* margin-left: -22.5vw; */

  height: 300px;
  width: 300px;
  transform: rotate(90deg);
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  animation: spinSlow 1s ease-in-out infinite alternate forwards;
  filter: grayscale(80%);
  /* transform: rotate(90deg); */
}

@keyframes spinSlow {
  0% {
    transform: rotate(90deg) translateX(0);
  }
  50% {
    transform: rotate(90deg) translateX(5px);
  }

  100% {
    transform: rotate(90deg) translateX(7px);
  }
}

.mobile-social-media {
  margin-top: 15%;
  display: flex;
  justify-content: space-evenly;
}
.mobile-social-media .social-icons {
  color: var(--secondary-bg-color);
  font-size: 1.3rem;
}

/* about page------------------------- */
.primary-about {
  width: 100vw;
  background-color: var(--primary-bg-color);
  /* display: block; */
  position: relative;
  left: 0;
  top: 0;
}

.about-text-container {
  margin: 0 auto;
  width: 100%;
  padding: 7.5%;
}
.typewriter-about-stuff {
  width: 100%;
  font-size: 1.5rem;
  margin-bottom: 10%;
}

.about-me-main {
  margin-top: 5%;
}
.about-me-main h1 {
  margin-bottom: 2.5%;
  font-size: 2.5rem;
  color: var(--secondary-bg-color);
}
.about-me-main p {
  margin-bottom: 2%;
  text-align: justify;
  font-size: 1rem;
  line-height: 2rem;
}

/* expreience----------- */
.about-experience {
  background-color: var(--tertiary-bg-color);
  color: var(--quartenary-bg-color);
}
.about-experience h1 {
  margin-bottom: 2%;
  font-size: 2.5rem;
  color: var(--secondary-bg-color);
}
.experience-container {
  margin: 0% auto;
  /* border: 1px solid red; */
  width: 100%;
  padding: 7.5% 5%;
}

.my-experiences {
  margin-top: 5%;
  padding: 0 5%;
}

.my-experiences p {
  margin-bottom: 4.5%;
  text-align: justify;
  line-height: 2rem;
}
.my-experiences h5 {
  margin-bottom: 1%;
  font-size: 1.2rem;
}
.about-experience h4 {
  margin-bottom: 7.5%;
  /* font-size: 1.2rem; */
}

/* core skilssssss */
.core-skills {
  background-color: var(--secondary-bg-color);
  color: white;
}
.core-skills h1 {
  margin-bottom: 2%;
  font-size: 2.5rem;
  color: var(--primary-bg-color);
}
.core-skills h4 {
  margin-bottom: 15%;
}
.core-skills-text {
  margin: 0px auto;
  /* border: 1px solid red; */
  width: 100%;
  padding: 7.5% 5%;
}

.skills-container {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.skills-container p {
  font-size: 1rem;
  margin-bottom: 15%;
}

/* interests */
.about-interests {
  background-color: var(--tertiary-bg-color);
  /* color: black; */
  /* height: 100%; */
}
.about-interests h1 {
  margin-bottom: 2%;
  font-size: 2.5rem;
  color: var(--secondary-bg-color);
}
.about-interests h4 {
  color: var(--quartenary-bg-color);
  margin-bottom: 15%;
}
.about-interests-container {
  margin: 0% auto;
  /* border: 1px solid red; */
  width: 100%;

  padding: 7.5% 5%;
}
.interest-grid {
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(6, 50px);
  /* padding: 2.5%; */
  gap: 10px;
  height: 100%;
}
.interest-grid-el {
  background-color: var(--secondary-bg-color);
  padding: 2.5% 5%;
  text-align: center;
  color: white;
  border-radius: 10px;
  font-size: 1rem;

  /* overkill yeah. but i was pushed */
  display: grid;
  align-items: center;
  justify-content: center;
  transition: all 500ms ease-in-out;
}

/* awardssssssss */
.about-awards {
  background-color: var(--secondary-bg-color);
  color: white;
}
.about-awards h1 {
  margin-bottom: 2%;
  font-size: 2.5rem;
  color: var(--primary-bg-color);
}
.awards-container {
  margin: 0% auto;
  width: 100%;
  padding: 7.5% 5%;
}

.my-awards {
  margin-top: 10%;
  padding: 0 5%;
}

.my-awards p {
  margin-bottom: 5%;
  text-align: justify;
  line-height: 2rem;
}
.my-awards h5 {
  margin-bottom: 1%;
  font-size: 1.2rem;
}
