:root {
  /* --primary-bg-color: #fff;
  --secondary-bg-color: #1d1f1d;
  --tertiary-bg-color: #e4ede6; */

  --primary-bg-color: #fff;
  --secondary-bg-color: #278ea5;
  --tertiary-bg-color: #1f4287;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

html,
body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

.all-content {
  display: flex;
  height: 100%;
}

.primary {
  width: 67.5%;
  background-color: var(--primary-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: fixed; */
}
.secondary {
  width: 25%;
  background-color: var(--secondary-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}
.tertiary {
  width: 7.5%;
  background-color: var(--primary-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: black;
  /* position: fixed; */
}

button {
  padding: 2.5% 3%;
  cursor: pointer;
  color: white;
  background-color: var(--secondary-bg-color);
  margin-top: 5%;
  width: 40%;
  outline: none;
  border: none;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 5px;
}

/* essential for the hamburger to work. pls don't remove */
.my-nav-stopgap {
  display: none;
}

.my-nav {
  width: 67.5vw;
  height: 100vh;
  background-image: linear-gradient(
    90deg,
    var(--secondary-bg-color) 50%,
    var(--primary-bg-color) 50%
  );
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 0;
  /* left: 0%; */
  right: 0;
  z-index: 2;
  transition: 1s;
}

nav a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

/* other styles */

.my-hamburger {
  color: var(--secondary-bg-color);
  cursor: pointer;
  z-index: 10;
}

.navbar-ish {
  flex-basis: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-media {
  flex-basis: 85%;
  background-color: var(--secondary-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* writing-mode: vertical-rl; */
  align-items: center;
}
.social-media a {
  margin: 10% 0;
  padding: 2%;
}

.primary-container {
  margin-left: 3.5rem;
  width: 450px;
}
.short-introduction {
  padding: 3%;
  /* border: 1px solid red; */
  font-size: 1.3rem;
  line-height: 2rem;
}
.short-introduction p {
  margin-top: 2%;
}
.typewriter-stuff {
  font-size: 2.2rem;
  margin-bottom: 35%;
}

.typewriter-stuff .two-things {
  font-size: 2rem;
  font-weight: bold;
}

.main-image {
  height: 450px;
  width: 680px;
  margin-left: -350px;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  animation: spinSlow 60s ease-in-out infinite normal forwards;
  filter: grayscale(80%);
}

@keyframes spinSlow {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }

  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.secondary .nav-logo {
  margin: 5%;
  padding: 1%;
}

.secondary-bottom {
  margin: 5%;
  padding: 1% 1% 2% 1%;
}

.secondary-bottom p {
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
}

.phone-num {
  margin-bottom: 1%;
}

/* about page */
.primary-about {
  width: 67.5%;
  background-color: var(--primary-bg-color);
}
.about-text-container {
  margin: 5% auto;
  /* border: 1px solid red; */
  width: 80%;
  height: 75vh;
  padding: 3%;
}
.typewriter-about-stuff {
  width: 100%;
  font-size: 2.2rem;
}

.about-me-main {
  margin-top: 5%;
}
.about-me-main h1 {
  margin-bottom: 2.5%;
  font-size: 4rem;
  color: var(--secondary-bg-color);
}
.about-me-main p {
  margin-bottom: 2%;
  text-align: justify;
  font-size: 1.2rem;
  line-height: 2rem;
}

.core-skills {
  background-color: var(--secondary-bg-color);
  color: white;
}
.core-skills h1 {
  margin-bottom: 2.5%;
  font-size: 4rem;
  color: var(--primary-bg-color);
}
.core-skills-text {
  margin: 5% auto;
  /* border: 1px solid red; */
  width: 80%;
  height: 75vh;
  padding: 3%;
}

.skills-container {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.skills-container p {
  font-size: 1.2rem;
  margin-bottom: 15%;
}
