:root {
  --primary-bg-color: #fff;
  --secondary-bg-color: #1d1f1d;
  --tertiary-bg-color: #e4ede6;
  /* --primary-bg-color: #278ea5;
  --secondary-bg-color: #1f4287;
  --tertiary-bg-color: #1f4287; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

.all-content {
  display: flex;
  height: 100%;
}

.primary {
  width: 67.5%;
  background-color: var(--primary-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.secondary {
  width: 25%;
  background-color: var(--secondary-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}
.tertiary {
  width: 7.5%;
  background-color: var(--tertiary-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: black;
}

/* other styles */

.navbar-ish {
  flex-basis: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-media {
  flex-basis: 85%;
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* writing-mode: vertical-rl; */
  align-items: center;
}
.social-media a {
  margin: 5% 0;
  padding: 2%;
}
.social-media .fab {
  background-color: white;
}

.primary-container {
  margin-left: 3.5rem;
  width: 450px;
}
.short-introduction {
  padding: 3%;
  /* border: 1px solid red; */
  font-size: 1.5rem;
  line-height: 2rem;
}
.short-introduction p {
  margin-top: 2%;
}
.typewriter-stuff {
  font-size: 2.2rem;
  margin-bottom: 35%;
}

.typewriter-stuff .two-things {
  font-size: 2rem;
  font-weight: bold;
}

.main-image {
  height: 550px;
  width: 800px;
  margin-left: -450px;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  animation: spinSlow 25s ease-in-out infinite normal forwards;
}

@keyframes spinSlow {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.secondary .nav-logo {
  margin: 5%;
  padding: 1%;
}

.secondary-bottom {
  margin: 5%;
  padding: 1% 1% 2% 1%;
}

.phone-num {
  margin-bottom: 1%;
}
